.nav {
    display: flex;
    justify-content: space-between;
}

.nav h1 {
    color: blueviolet;
    font-size: 35px;
    margin: 0;
}

.nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    padding-left: 15px;
    padding-top: 15px;
}

.nav a {
    text-decoration: none;
    color: blueviolet;

}

.nav .nav-search {
    margin-top: 9px;
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.nav .nav-search input {
    flex: 5;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 23px;
    border-right: 0px;

}

.nav .nav-search button {
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 27px;
    border-left: 0px;

}